#textaa .aaba-ulli{ margin-top: 7px;}
#textaa .aaba-ulli .aaba-li{ display: flex; height: 80px; border-bottom: 1px solid #f2f2f2; padding-top: 30px;margin-left: 18px;}
#textaa .aaba-ulli .aaba-li .text-h2{ width: 56px;height: 52px; border-right:1px solid #f2f2f2 ; text-align: center;}
#textaa .aaba-ulli .aaba-li h2{font-size: 34px; color: #866961;} 
#textaa .aaba-ulli .aaba-li p{font-size: 12px; color: #999999;} 
#textaa .aaba-ulli .aaba-li h5{font-size: 14px; color: #866961;margin-left: 18px;} 
#textaa .aaba-ulli .aaba-li h5:nth-child(2){font-size: 12px;color: #a3a3a3; margin-top: 22px;} 
#textaa .aaba-ulli .aaba-li a{color: #866961;} 



#textaa .text-ulli{margin-top: 34px;}
#textaa .text-ulli .text-li{display: flex; margin-top: 5px;}
#textaa .text-ulli .text-li h2{color: #999999;}
#textaa .text-ulli .text-li:hover h2{color: #866961;} 
#textaa .text-ulli .text-li span{color: #999999;margin-left: 12px;}
#textaa .text-ulli .text-li:hover span{color: #edded9;}
#textaa .text-ulli .text-li p{width: 871px; line-height: 20px; margin-left: 23px;line-height: 60px; border-bottom: 1px solid #999999;}
#textaa .text-ulli .text-li p:nth-child(1){line-height: 30px;}





#textaa{
    display: none;
}
#textaa.active{
    display: block;
}

#text .text-list h3 span{
    cursor: pointer;
}